ALTER TABLE public.submissions ALTER COLUMN manuscript_received_date TYPE text USING manuscript_received_date::text; ALTER TABLE public.submissions ALTER COLUMN manuscript_revised_date TYPE text USING manuscript_revised_date::text; ALTER TABLE public.submissions ALTER COLUMN manuscript_accepted_date TYPE text USING manuscript_accepted_date::text; ALTER TABLE public.submissions ALTER COLUMN published_date TYPE text USING published_date::text;
